# RunServer configuration file
# Copy this file to server.properties
# ----------------------------

# PORT to listen on
preffered_port=3000

# Database connection info
database_url=jdbc:mysql://<host>:3306/<database name>
database_user=<username>
database_password=<password>

